/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*==================== BOOTSTRAP ICONS ====================*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --border-color: rgba(0, 0, 0, 0.5);
  --label-color: rgba(173, 216, 230, 0.5);
  --red: #f44336;
  --green: #4caf50;
  --blue: #3f51b5;
  --lightblue: #2196f3;
}

.dark-theme {
  --bg-color: #222;
  --text-color: #eee;
  --border-color: rgba(255, 255, 255, 0.5);
  --label-color: rgba(93, 173, 226, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  text-decoration: none;
  line-height: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

a,
button {
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background: var(--green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  white-space: nowrap;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none !important;
}

.hidden-cursor {
  cursor: none !important;
}

input[type="text"] {
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
}

textarea {
  padding: 5px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  overflow: hidden;
}

.bg-red {
  background-color: var(--red);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: var(--bg-color);
  padding: 10px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  background-color: transparent;
  color: var(--text-color);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 768px;
  margin: auto;
}

.app {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.header .main-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .theme-toggle {
  font-size: 1.75rem;
  padding: 0;
  background-color: transparent;
  color: var(--text-color);
}

.header .finder-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header .search-box {
  display: inline-flex;
  width: 250px;
  background-color: white;
  color: #333;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
}

.header .search-box input {
  flex: 1;
  width: 100%;
  padding: 0;
  border: none;
  color: var(--bg-color);
}

.header .breadcrumbs {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  max-width: 100%;
}

.header .breadcrumbs * {
  background-color: transparent;
  color: var(--text-color);
  font-size: 1rem;
  white-space: nowrap;
}

.header .actions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.header .actions > * {
  min-width: 80px;
}

.header .edit-mode {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--border-color);
  color: var(--text-color);
}

.header .edit-mode.active {
  background-color: var(--red);
  border-color: transparent;
  color: white;
}

.header .import,
.header .export {
  background-color: var(--blue);
}

.item-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 5px;
}

.item-container > .message {
  position: absolute;
  top: 10px;
  left: 10px;
}

.item-container .item {
  position: relative;
  height: max-content;
  text-align: center;
  cursor: pointer;
}

.item-container .deck {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.item-container .item * {
  position: relative;
  width: 100%;
}

.item-container .item img {
  width: 100%;
  border: 2px solid transparent;
  object-fit: cover;
}

.item-container .item.selected img {
  border-color: var(--text-color);
}

.item-container .item p {
  padding: 5px;
}

.item-modal .icon-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  border: 2px dashed;
  border-color: var(--border-color);
  width: 100%;
  height: 64px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.item-modal .description-input {
  resize: none;
  height: 80px;
}

.item-modal .actions {
  display: flex;
  gap: 5px;
}

.item-modal .actions > * {
  flex: 1;
}

.details-modal .modal-content {
  width: max-content;
}

.details-modal .image {
  width: 200px;
  max-height: 400px;
  object-fit: contain;
}

.toast-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.toast {
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 12px 20px;
  border-radius: 5px;
  width: max-content;
  max-width: 100%;
}

/* Medium screens (Tablets, up to 768px wide) */
@media (max-width: 768px) {
  .app {
    padding: 10px;
  }
  
  .header .search-box {
    width: 200px;
  }
}

/* Small screens (Phones, up to 480px wide) */
@media (max-width: 480px) {
  .header .title {
    font-size: 1.5rem;
  }

  .header .finder-bar {
    flex-direction: column;
  }

  .header .search-box {
    width: 100%;
  }

  .header .finder-bar > * {
    flex: 1;
  }
}
